<!-- <p>
  home works!
</p> -->

<body>

<img src="assets/juliet.jpg" alt="juliet"  class="center"><br>


<p>NAME(S) : &nbsp; BUTINTI JULIET</p>
<P>SURNAME : &nbsp; MOSHIDI</P>
<P>DATE OF BIRTH : &nbsp; 04-JUNE-1997</P>
<p>GENDER : &nbsp; FEMALE</p>

<!-- Name:&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="Name"><br><br>
Surname:<input [(ngModel)]="Surname"><br><br>
Age:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="Age"><br><br>
<button (click)="submit()">submit</button> -->


<!-- <p>{{Name}}</p>
<p>{{Surname}}</p>
<p>{{Age}}</p> -->

</body>






