p {
  // margin-left: 80px;
  color: wheat;
  text-align: center;
  align-content: none;
  padding-top: 10px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 80px;
  

}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}
body{
  background-image: url("ima.gif");
  border-style: outset;
  margin-left: 10%;
}
center{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  

}