<!-- <p>
  feedback works!
</p> -->
<body>
  <form>
      <h3>FEEDBACK</h3>
   <div class="container">

    <div class="row"></div>
    <div class="col-35">
      <!-- <label for="fname">FirstName: &nbsp;</label> -->
      <input type="text" id="fname" name="FirstName" placeholder="Enter your FirstName.."><br><br>
      </div>
      
      <div class="row"></div>
      <div class="col-35">
      <!-- <label for="fname">LastName: &nbsp;</label> -->
      <input type="text" id="fname" name="LastName" placeholder="Enter your LastName.."><br><br>
      </div>

      <div class="row"></div>
      <div class="col-35">
      <!-- <label for="fname">Email: &nbsp;</label> -->
      <input type="text" id="fname" name="Email" placeholder="Email.."><br><br>
      </div>

      <div class="row"></div>
      <div class="col-35">
      <!-- <label for="fname">MobileNO: &nbsp;</label> -->
      <input type="text" id="fname" name="MobileNO" placeholder="MobileNO.."><br><br>
     </div>

     <div class="row"></div>
     <div class="col-35">
      <!-- <label for="fname">Message: &nbsp;</label></div> -->
      <div class="col-5"></div>
      <textarea id="Message" name="Message" placeholder="Message.." style="height:180px"></textarea>

      <div class="row">
          <input type="submit" value="SUBMIT">
        </div>
        
    </div>


  
    </div>
  </form>
</body>



