<!-- <p>
  contact works!
</p> -->
<body>
<form>
     <div>
      <label for="fname">Name: &nbsp;</label>
      <input type="text" id="fname" name="Name" placeholder="Your name.."><br><br>

      <label for="fname">Email: &nbsp;</label>
      <input type="text" id="fname" name="Email" placeholder="Your email.."><br><br>

      <label for="fname">Message: &nbsp;</label></div>
      <div class="col-50">
      <textarea id="Message" name="Message" placeholder="Write something.." style="height:180px"></textarea></div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>





   
       
      <!-- <p>RESIDENTIAL ADDRESS : &nbsp; 7873 LEHLWA STRT NELLMAPIUS EXT 7</p>
         <p>CONTACT NUMBER      : &nbsp; 081 8453 063</p>
         <p>EMAIL ADDRESS : &nbsp; BUTINTI97@GMAIL.COM</p> --> 
      </form>      
</body>
