p, h3, h4 {
  margin-left: 20%;
  color: black;
  text-align: center;
  align-content: none;

  // padding-top: 10px;
  // padding-right: 8px;
  // padding-bottom: 4px;
  // padding-left: 7%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;

  
}

body{
  background-image: url("tee.gif");
  border-style: outset;
  margin-left: 10%;
  text-align: center;

}
center{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}
h3{
  font-family: 'Courier New', Courier, monospace;
}
h4{
  font-family: 'Courier New', Courier, monospace;
}