<!-- <p>
  about works!
</p> -->
       <body>
        <img src="assets/butinti.jpg" alt="butinti" class="center"><br>

        <h3>JULIET MOSHIDI</h3>
        <h4>BIO:</h4>
    
       <p>
          I AM HARD WORKING STUDENT WHO IS ABLE ADAPT AND WORK IN GROUPS,WITH ABILITY TO WORK UNDER <br>
          PRESSURE WITHOUT COMPRIMISING STANDARDS OF WORK. I AM ALWAYS LOOKING FORWARD TO IMPROVE MY SKILLS, <br>
          I AM SELF-MOTIVATED,EAGER TO LEARN,AMBITION WITH DESIRE TO SUCCEED WITH GOOD COMMUNICATION. 
        </p>
      </body>


  



